body {
	background-color: black;
	color: rgb(180, 79, 175);
	font-family: monospace;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify;
}

#desc {
	text-align: center;
	font-style: italic;
	color: #ffffff;
}

#title {
	text-align: center;
	color: #ff0000;
}

#image {
	text-align: center;
	border-radius: 3px;
}

#subtitle {
	text-align: center;
	color: #ffffff;
}


 #links {
 }
