body {
	background-color: linear-gradient(rgb(90, 0, 71), rgb(65, 0, 51)) !important;;
	font-family: roboto;
	color: #F706CF;
}

#title {
	text-align: center;
	color: #D40078;
}

#desc {
	text-align: center;
}

#hatsune {
	text-align: center;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #00000036 !important;
}

 #links {

 }
